@import "_variables";

.ds-button {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 13px;
    font-weight: 600;
    letter-spacing: 3px;
    color: @primary-color;
    padding: 17px 30px;
    border: 2px solid @primary-color;
    border-radius: 60px;
    margin: 5px;
}
.ds-button:hover {
    background-color: @primary-color;
    color: #fff;
}

.ds-button:empty {
    display: none;
}