<!--  footer -->
<footer class="ds-footer text-center">
    <div class="container">
        <section>
            <span>${{ common.footer.action }}$</span>
            <h4>${{ common.footer.question }}$</h4>
            <p>${{ common.footer.action2 }}$</p>
            <a href="mailto:mail@vasilii-grigorev.com" class="ds-button">${{ common.footer.button }}$</a>
        </section>
        <span class="ds-copyright"
            >© 2022 All rights reserved. Free minimal bootstrap template by
            <a href="https://designstub.com/" target="_blank">Designstub</a>.</span
        >
    </div>
</footer>
<!--  footer -->