<!-- header -->
        <header class="ds-header" id="site-header">
            <div class="container">
                <div class="ds-header-inner">
                    <!-- logo -->
                    <a href="/" class="ds-logo"> <span></span>GRIDARK </a>
                    <!-- logo -->
                    <!-- social -->
                    <ul class="ds-social">
                        <li>
                            <a href="https://www.linkedin.com/in/gridark/" target="_blank" title="LinkedIn"><i class="ri-linkedin-fill"></i></a>
                        </li>
                        <li>
                            <a href="mailto:mail@vasilii-grigorev.com" title="email"><i class="ri-mail-fill"></i></a>
                        </li>
                        <li>
                            <a href="https://t.me/gridark" target="_blank" title="Telegram"><i class="ri-telegram-fill"></i></a>
                        </li>
                        <li>
                            <!--suppress HtmlUnknownTarget -->
                            <a href="${{ common.different-lang.url }}$" title="${{ common.different-lang.text }}$"><i class="ri-earth-fill"></i></a>
                        </li>
                    </ul>
                    <!-- social -->
                </div>
            </div>
        </header>
        <!-- header -->