<!DOCTYPE html>
<!--suppress JSUnusedGlobalSymbols, HtmlUnknownTarget, JSUnresolvedReference, JSValidateTypes, CommaExpressionJS, JSUnresolvedLibraryURL -->
<html lang="${{ common.lang.code }}$">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- @import "../static/favicons/favicons.html" -->

        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>

        <link rel="preload"
              href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
              as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
                  rel="stylesheet"/>
        </noscript>

        <link rel="preload" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" as="style"
              onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        </noscript>

        <link rel="stylesheet" href="/assets/css/page.css"/>

        <title>${{ about.title }}$</title>
        <meta name="description" content="${{ about.meta.description }}$">
    </head>
    <body class="page-about">
        <!-- @import "header.html" -->

        <!-- about -->
        <div class="ds-main-section ds-about-section">
            <div class="container">
                <section>
                    <div class="text-center">
                        <a href="index.html" class="ds-button ds-arrow-button"><i class="ri-arrow-left-s-line"></i> ${{
                            about.back_button }}$</a>
                    </div>
                    <h2 class="ds-heading">${{ about.heading }}$</h2>
                    ${{# about.paragraph }}$
                    <p>${{ . }}$</p>
                    ${{/ about.paragraph }}$
                </section>
            </div>
        </div>
        <!-- about -->

        <!-- @import "footer.html" -->

        <script src="/assets/js/main.js"></script>

        <!-- @import "metrics.html" -->
    </body>
</html>
