<!DOCTYPE html>
<!--suppress JSUnusedGlobalSymbols, HtmlUnknownTarget, JSUnresolvedReference, JSValidateTypes, CommaExpressionJS, JSUnresolvedLibraryURL -->
<html lang="${{ common.lang.code }}$">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- @import "../static/favicons/favicons.html" -->

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" /></noscript>

        <link rel="preload" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        </noscript>

        <link rel="stylesheet" href="/assets/css/main.css" />

        <title>${{ index.title }}$</title>
        <meta name="description" content="${{ index.meta.description }}$">
    </head>
    <body class="page-index">
        <!-- @import "header.html" -->

        <!-- banner -->
        <div class="ds-banner">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <picture>
                            <source srcset="/assets/images/profile-image-320x.webp 320w, /assets/images/profile-image-540x.webp 540w, /assets/images/profile-image-860x.webp 860w, /assets/images/profile-image-1024x.webp 1024w, /assets/images/profile-image-1280x.webp 1280w, /assets/images/profile-image-1920x.webp 1920w, /assets/images/profile-image.webp"
                                    type="image/webp">
                            <source srcset="/assets/images/profile-image-320x.png 320w, /assets/images/profile-image-540x.png 540w, /assets/images/profile-image-860x.png 860w, /assets/images/profile-image-1024x.png 1024w, /assets/images/profile-image-1280x.png 1280w, /assets/images/profile-image-1920x.png 1920w, /assets/images/profile-image.png">
                            <img alt="Vasilii Grigorev portrait" width="457" height="521"
                                 src="/assets/images/profile-image.png">
                        </picture>
                    </div>
                    <div class="col-7">
                        <section>
                            <h1>${{&index.greeting}}$</h1>
                            <ul class="ds-numbervalulist">
                                ${{# index.statistic }}$
                                <li>
                                    <strong>${{ number }}$</strong>
                                    <span>${{ title }}$</span>
                                </li>
                                ${{/ index.statistic }}$
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <!-- banner -->

        <!-- about -->
        <div class="ds-about-section">
            <div class="container">
                <section>
                    <h2 class="ds-heading">${{ index.about.heading }}$</h2>
                    ${{# index.about.paragraph }}$
                    <p>${{ . }}$</p>
                    ${{/ index.about.paragraph }}$
                    <div class="ds-button-sec d-flex justify-content-center">
                        <a href="${{ index.about.page.url }}$" class="ds-button">${{ index.about.page.button }}$</a>
                        <a href="${{ index.about.resume.url }}$" class="ds-button">${{ index.about.resume.button }}$</a>
                    </div>
                </section>
            </div>
        </div>
        <!-- about -->

        <!--  Skills -->
        <div class="ds-skills-section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="ds-heading">${{ index.skills.core.title }}$</h2>
                        <ul class="ds-skills-list">
                            ${{# index.skills.core.list }}$
                            <li>${{ . }}$</li>
                            ${{/ index.skills.core.list }}$
                        </ul>
                    </div>
                    <div class="col">
                        <h2 class="ds-heading">${{ index.skills.others.title }}$</h2>
                        <ul class="ds-skills-list">
                            ${{# index.skills.others.list }}$
                            <li>${{ . }}$</li>
                            ${{/ index.skills.others.list }}$
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--  Skills -->

        <!-- Experience -->
        <div class="ds-experience-section">
            <div class="container">
                <h2 class="ds-heading">${{ index.works.heading }}$</h2>
                <div class="row ds-experience-list">
                    ${{# index.works.list }}$
                    <div class="col-lg-6 col-md-12">
                        <section>
                            <span class="ds-year">${{ year-start }}$ - ${{ year-end }}$</span>
                            <h3 class="ds-officename">${{ officename }}$</h3>
                            <span class="ds-department">${{ department }}$</span>
                            ${{# description }}$
                            <p>${{& . }}$</p>
                            ${{/ description }}$
                            <ul>
                                ${{# achievements }}$
                                <li>${{& . }}$</li>
                                ${{/ achievements }}$
                            </ul>
                        </section>
                    </div>
                    ${{/ index.works.list }}$
                </div>
            </div>
        </div>
        <!-- Experience -->

        <!-- @import "footer.html" -->

        <script src="/assets/js/main.js"></script>
        
        <!-- @import "metrics.html" -->
    </body>
</html>
