@import "lib/_variables";
@import "lib/_button";

.ds-about-section {
    padding-top: 60px;
    padding-bottom: 120px;
}
.ds-heading {
    display: inline-block;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    border-bottom: 3px solid @primary-color;
    padding-bottom: 7px;
    margin-bottom: 23px;
}
.ds-about-section p {
    color: #373737;
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 60px;
}

.ds-arrow-button i {
    display: inline-block;
    vertical-align: middle;
}
