@import "lib/_variables";

.ds-footer {
    background-color: #000;
    padding: 120px 0;
}
.ds-footer section {
    padding-bottom: 97px;
}
.ds-footer section span {
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    display: block;
    padding-bottom: 20px;
}
.ds-footer section h4 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}
.ds-footer section p {
    letter-spacing: 1.13px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 40px;
}
.ds-copyright {
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 1px;
    font-size: 16px;
}
.ds-copyright a {
    color: rgba(255, 255, 255, 0.5);
}
.ds-copyright a:hover {
    color: #f26464;
}
.ds-footer .ds-button {
    color: #f26464;
    background-color: transparent;
    border: 2px solid #f26464;
}

.ds-footer .ds-button:hover {
    background-color: #f26464;
    color: #fff;
  }