@import "lib/_variables";

.ds-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: #fff;
    padding: 70px 0;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
}
.ds-header.ds-fixed-header {
    padding: 20px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.ds-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ds-logo {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3px;
    color: #000;
    display: flex;
    align-items: center;
}
.ds-logo span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-image: url('../images/griva-logo.png');
    background-size: cover;
    border-radius: 4px;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-right: 12px;
}
.ds-logo:hover {
    color: #000;
}

.ds-social {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.ds-social li {
    margin-left: 12px;
}
.ds-social li:first-child {
    margin-left: 0;
}
.ds-social li a {
    border-radius: 100%;
    color: #fff;
    width: 24px;
    height: 24px;
    background-color: @primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
}
.ds-social li a:hover {
    background-color: #000;
    color: #fff;
}
