.ds-skills-section{ padding-bottom: 105px; }
.ds-skills-list{ list-style: none; padding: 0; margin: 0; display: flex; flex-wrap: wrap; align-items: center; margin-top: 11px; }
.ds-skills-list li{ display: inline-block; color: #373737; font-size: 16px; padding:10px 20px; background-color: #FFF; border: 1px solid #D7D7D7;
  border-radius: 27px; margin-right: 15px; margin-bottom: 15px;  font-weight: 500;}